<div class="container-fluid ">
    <div class="row">
        <header><a class="btn text-light bg-info btn-outline-success rounded-pill m-4"
                routerLink="/dashboard/addProd">Add
                Product</a>
        </header>
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let data of productData">
            <div class="card m-2" style="width: 18rem;">
                <div class="card-title"><b>{{data.pName}}</b></div>
                <div class="card-body">
                    <img src="{{data.pImage}}" class="w-100% container" alt="img">
                    <b>Price:</b>{{data.pPrice}}
                    <h6>{{data.pDes}}</h6>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn bg-warning btn-outline-success rounded-pill m-1"
                        (click)="editProduct(data)">Update</button>
                    <button type="button" class="btn bg-danger btn-outline-info rounded-pill m-1"
                        (click)="deleteProduct(data._id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>